/* Import Nunito Sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color valriables */
    --prim-green: #8eaf04;
    --dark-grey: #424143;
    --medium-grey: #8f8f8f;
    --grey: #bdbdbd;
    --light-grey: #f5f5f5;
    --beige: #cbac81;
    --light-beige: #e4cba8;
    --transparent: rgba(0, 0, 0, 0);
    --transparent-white: rgba(255, 255, 255, 0.5);

    /* Space and size */
    --xs: 0.4rem;
    --sm: 1rem;
}

/* Globally set font, box-size; reset margin / paddings */
* {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--dark-grey);
    /* scrollbar-width: thin; */
    /* scrollbar-color: red orange; */
}
*::-webkit-scrollbar {
    /* CSS variable doesn't wrok here */
    width: 1rem;
}
*::-webkit-scrollbar-track {
    background: --clear;
}
*::-webkit-scrollbar-corner {
    /* Disable the bottom right corner */
    display: none;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 99px;
    border: 4px solid transparent;
    background-clip: content-box;
}

html {
    font-size: 16px; /* Define rem as 16px */
}

p {
    margin: 0.6rem 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .description {
    width: 70%;
    padding-right: 1rem;
}
/* Table screen */
@media screen and (max-width: 690px) {
    header {
        flex-direction: column;
    }
    header .description {
        width: 100%;
    }
}
header .description .title {
    margin-bottom: var(--sm);
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 440px) {
    /* header .description .title {
        flex-direction: column;
        align-items: flex-start;
    } */
    header .description .title h1 {
        font-size: 1.4rem;
    }
}
header .description .title img {
    margin-right: var(--sm);
}
header .description sup.tag {
    padding: 0.2rem 0.3rem 0.1rem;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: normal;
    color: rgb(255, 255, 255);
    background-color: #6e6e6e;
    border-radius: 999px;
}

header aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 690px) and (min-width: 360px) {
    header aside {
        flex-direction: row;
    }
}
/* [More Info] and [Demo app code] buttons */
header aside a {
    margin: 0.4rem;
    width: 180px;
    padding: 0.4rem;
    border-radius: 0.4rem;
    text-align: center;
    text-decoration: none;
}

main {
    padding: 3rem;
    min-height: calc(100vh - 10rem);
    background: var(--light-grey) url('img/bg-waveline.png') no-repeat center
        bottom;
    background-size: 100%;
}
@media screen and (max-width: 360px) {
    main {
        padding: 1rem;
    }
}
main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
}

/* *********************************** */
/* Styles for Main Demo App Functions  */
/* *********************************** */
#modelSelectorSection {
    width: 480px;
    margin: 0.6rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 440px) {
    #modelSelectorSection {
        width: 100%;
        flex-direction: column;
    }
}
#modelSelectorSection select {
    font-size: 1rem;
    outline: var(--dark-grey); /** Override browser default style */
}
#modelSelectorSection small {
    padding: 0;
    margin-top: var(--sm);
    width: 100%;
    color: var(--medium-grey);
    text-align: center;
    font-style: italic;
}

#startRecordingSection {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#transcriptSection {
    width: 100%;
    max-width: 600px;
    margin-bottom: 3rem;
}
#transcriptSection > p {
    justify-content: center;
    display: flex;
    padding: 1rem;
    background-color: rgba(142, 175, 4, 0.1);
    color: #769204;
    text-align: center;
}
#transcriptSection > p .material-icons {
    color: #769204;
}

#transcriptSection .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#transcriptSection .btn-group button {
    border: none;
    background: none;
    min-width: 100px;
}

.s-result__container {
    overflow: scroll;
    height: 50vh;
    max-height: 50vh;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 2rem;
    /* Color */
    background-color: white;
}

.s-transcribe__result {
    display: flex;
    margin-bottom: 1rem;
}

.s-transcribe__result--right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.s-transcribe__speaker {
    display: block;
    margin-bottom: 0.5rem;
}

.s-transcribe__bubble {
    position: relative;
    /*  */
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* Align speech bubble triangle */
    margin-top: 0.5rem;
    background-color: rgb(238, 238, 238);
}

.speech-buble-triangle--left {
    content: ' ';
    width: 0px;
    height: 0px;
    border-right: 1.2rem solid;
    border-bottom: 1.2rem solid transparent;
    border-right-color: rgb(238, 238, 238);
    margin-right: -0.5rem;
    margin-top: 0.5rem;
}

.speech-buble-triangle--right {
    content: ' ';
    width: 0px;
    height: 0px;
    border-left: 1.2rem solid;
    border-bottom: 1.2rem solid transparent;
    border-left-color: rgb(238, 238, 238);
    margin-left: -0.5rem;
    margin-top: 0.5rem;
}

/* -END- Styles for Main Demo App Functions  */
/* ***************************************** */

/** 
* All direct child of main and footer element 
* Set the max content witdh.
*/

.all-demo-apps button {
    margin: auto;
    border: none;
    background: none;
}
.all-demo-apps {
    text-decoration: none;
}

.loader {
    display: none; /** Set to none by default */
    justify-content: center;
    align-items: center;

    overflow: hidden;

    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 2555, 0.6);
}
.loader img {
    width: 200px;
}

main > *,
footer section {
    max-width: 1200px;
    margin: auto;
}

footer {
    padding: 0 3rem;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
    background: white;
}
@media screen and (max-width: 360px) {
    footer {
        padding: 0 1rem;
    }
}
footer section {
    height: 100%;
    min-height: 10rem;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 690px) {
    footer section {
        flex-direction: column;
    }
}
footer section address {
    font-style: normal;
}
footer .logo {
    max-width: 260px;
}
footer a {
    color: var(--beige);
}
footer a:hover {
    filter: brightness(0.8);
}

/* Buttons */

button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 160px;
    height: 48px;
    margin: var(--xs);
    padding: 0.6rem;
    border-radius: 0.4rem;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}
button:hover {
    filter: brightness(0.8);
}
button.green {
    transition: all 0.3s;
    border: none;
    background-color: var(--prim-green);
    color: white;
}
button.green:hover {
    filter: brightness(1.1);
}
button.green:active {
    filter: brightness(0.9);
}
button.green span {
    color: white;
}

button.button-restart,
button.button-restart span {
    border: none;
    background: none;
    color: var(--medium-grey);
    padding: var(--xs);
}
button.button-restart {
    margin-top: 2rem;
}

.more-info {
    border: 1px solid var(--dark-grey);
    background-color: var(--light-grey);
}
.more-info:hover {
    filter: brightness(0.95);
}

.demo-app-code {
    color: white;
    border: 1px solid var(--dark-grey);
    background-color: var(--dark-grey);
}
.demo-app-code:hover {
    filter: brightness(1.3);
}

.hov-red:hover {
    color: red;
}

.mr-sm {
    margin-right: var(--sm);
}

.mr-xs {
    margin-right: var(--xs);
}

.text-center {
    text-align: center;
}
