/* *************************************************************************** */
/*                           Last Update 2021-Jan-22                           */
/* *************************************************************************** */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
:root {
	--light-grey: #f5f5f5;
	--sentient-red: #a00202;
	--sentient-beige: #cbac81;

	--grey-8: #424242;
}

/* -------------------- */
/* Reset default styles */
/* -------------------- */
* {
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
}
html {
	font-size: 16px;
}
body {
	margin: 0;
}
h2 {
	font-weight: 800;
}
h3 {
	font-size: 1.5rem;
}
h4 {
}
h5 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}
h6 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	font-weight: 600;
}
p {
	margin: 0;
}
a {
	color: var(--grey-8);
	text-decoration: none;
}
button {
	border: 1px #555 solid;
	background-color: rgba(0, 0, 0, 0);
}
button:focus {
	outline: none !important;
}

/* ---------- */
/* Scroll Bar */
/* ---------- */
/* width */
::-webkit-scrollbar {
	width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	display: none;
	background: rgba(255, 255, 255, 0);
}
/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 99px;
	background: rgb(222, 222, 222);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/* ----------------------------------------- */
/* Classes for Sentient.io with prefix of s- */
/* ----------------------------------------- */
.s-page {
	width: 100vw;
	min-height: 100vh;
	background: var(--light-grey) url('img/bg-waveline.png') no-repeat center
		bottom;
	background-size: 100%;
}

.s-page__loader {
	/* Positioning */
	position: fixed;
	z-index: 999;
	/* Display & Box Model */
	width: 100vw;
	height: 100vh;
	/* Color */
	background-position-x: center;
	background-position-y: center;
	background-size: 140px;
	background-repeat: no-repeat;
	background-image: url('img/sentie-loader.gif');
	background-color: rgba(255, 255, 255, 0.7);
}

.s-page__popup__bg {
	/* Positioning */
	position: fixed;
	z-index: 999;
	/* Display & Box Model */
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	/* Color */
	background-color: rgba(0, 0, 0, 0.5);
}
.s-page__popup__window {
	width: 300px;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
	background-color: white;
}
.s-page__popup__header {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}
.s-page__popup__content {
	margin-top: 1rem;
}

.s-popup__btn--close{
	cursor: pointer;
}

.s-page__container {
	max-width: 1400px;
	width: 100%;
	min-height: 100vh;
	padding: 2rem 4rem;
	margin: auto;
}
@media only screen and (max-width: 769px) {
	.s-page__container {
		padding: 2rem;
	}
}

.s-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media only screen and (max-width: 769px) {
	.s-header__title {
		text-align: center;
	}
}

.s-header__title__tag {
	display: inline-block;
	padding-top: 0.25rem;
	padding-right: 0.5rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	border-radius: 999px;
	margin: 0.5rem;
	/* Text */
	font-size: 1rem;
	font-style: italic;
}

.s-header__description {
	max-width: 700px;
}
@media only screen and (min-width: 769px) {
	.s-header__description {
		padding-right: 1rem;
	}
}

.s-header__left-container {
	width: 80%;
}
@media only screen and (max-width: 769px) {
	.s-header__left-container {
		width: 100%;
	}
}

.s-header__right-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	width: 20%;
	padding-top: 1.5rem;
}
@media only screen and (max-width: 769px) {
	.s-header__right-container {
		justify-content: center;
		width: 100%;
	}
}

.s-header__buttons {
	display: block;
	width: 180px;
	min-width: 180px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border: 1px solid var(--grey-8);
	border-radius: 0.4rem;
	margin: 0.5rem;
	/* Text */
	text-align: center;
	cursor: pointer;
}

.s-controller__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.s-controller__button {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	padding: 1rem;
	border-width: 1px;
	border-radius: 0.4rem;
	margin: 1rem;
	/* Text */
	font-size: 1rem;
	cursor: pointer;
}
.s-controller__button .material-icons {
	margin-right: 0.6rem;
}

.s-controller__button--clean-result {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
	/* Text */
	font-size: 0.8rem;
	text-align: center;
	cursor: pointer;
}

.s-result__container {
	overflow: scroll;
	max-width: 600px;
	height: 50vh;
	max-height: 50vh;
	padding: 1.5rem;
	border-radius: 1rem;
	margin: 1rem auto 2rem;
	/* Color */
	background-color: white;
}

.s-transcribe__result {
	display: flex;
	margin-bottom: 1rem;
}

.s-transcribe__result--right {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.s-transcribe__speaker {
	display: block;
	margin-bottom: 0.5rem;
}

.s-transcribe__bubble {
	position: relative;
	/*  */
	padding: 0.5rem;
	border-radius: 0.5rem;
	/* Align speech bubble triangle */
	margin-top: 0.5rem;
	background-color: rgb(238, 238, 238);
}

.speech-buble-triangle--left {
	content: ' ';
	width: 0px;
	height: 0px;
	border-right: 1.2rem solid;
	border-bottom: 1.2rem solid transparent;
	border-right-color: rgb(238, 238, 238);
	margin-right: -0.5rem;
	margin-top: 0.5rem;
}

.speech-buble-triangle--right {
	content: ' ';
	width: 0px;
	height: 0px;
	border-left: 1.2rem solid;
	border-bottom: 1.2rem solid transparent;
	border-left-color: rgb(238, 238, 238);
	margin-left: -0.5rem;
	margin-top: 0.5rem;
}

.s-button__go-back {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	/*  */
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: var(--grey-8);
}

.s-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	/*  */
	max-width: 1400px;
	width: 100%;
	padding: 2rem 4rem;
	/* Color */
	background-color: white;
}

.s-footer__left {
}

.s-footer__right {
}

.s-link {
	color: var(--sentient-beige);
	text-decoration: underline;
}

/* ------------- */
/* Border Colors */
/* ------------- */
.s-border-red {
	border-color: var(--sentient-red);
}

/* ----------------- */
/* Background Colors */
/* ----------------- */
.s-bg-red {
	background-color: var(--sentient-red);
}

.s-bg-grey-8 {
	background-color: var(--grey-8);
}

/* ----------- */
/* Text Colors */
/* ----------- */
.s-text-white {
	color: white;
}
.s-text-red {
	color: var(--sentient-red);
}

/* ---------- */
/* Typography */
/* ---------- */
.s-text-center {
	text-align: center;
}
.s-text-right {
	text-align: right;
}
.s-text-small {
	font-size: 0.8rem;
}
.s-text-underline {
	text-decoration: underline;
}

/* Spaces */
.s-mt-1 {
	margin-top: 1rem;
}
.s-mt-2 {
	margin-top: 2rem;
}
.s-mb-2 {
	margin-bottom: 2rem;
}
.s-mr-2 {
	margin-right: 2rem;
}
.s-ml-2 {
	margin-left: 2rem;
}
/* ----------- */
/* Responsive */
/* ----------- */
/* For devices with width of 480px and less, like phones */
@media only screen and (max-width: 480px) {
}

/* For devices with width between 481px and 768px, like larger phones and portrait tablets */
@media only screen and (min-width: 481px) {
}

/* For devices with width between 769px and 1279px, like landscape tablets and laptops */
@media only screen and (min-width: 769px) {
}

/* For devices with width of 1280px and more, like desktop computers */
@media only screen and (min-width: 1280px) {
}
